* {
  margin: 0px;
  padding: 0px;
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
}

#header {
  margin-bottom: 75px;
}
#nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

#nav p {
  font-size: 28px;
  font-weight: 800;
}

#nav button {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
